body {
  background: #ffffff;
  color: #000000;
}

.header {
  background-color: #00a2e8;
  padding: 20px;
  text-align: center;
  
}
.titulo{
  background-color: white;
  display: inline-block;
  width: 900px;
  font-weight: bold;
  border: 5px solid black;
}
.frase{
  padding: 20px;
  text-align: center;
  font-weight: bold;
  background-color: red;
}
.carrusel{
  padding: 200px;
  text-align: center;
  background-color: #70f000;
}
.items{
  background: lightgray;
  display: grid;
  justify-content: space-around;
  min-height: 800px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 300px);
  gap : 170px;
  
}
.item{
  background-color: #bf03e9;
  border-radius: 10% ;
}

.paginas{
  background: lightpink;
  height: 350px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.pag{
  background: lightseagreen;
  width: 450px;
  height: 300px;
  border-radius: 10%;
}
.footer{
  background: lightsalmon;
  height: 140px;
}
